.filter-container {
    background-color: var(--color-bg-secondary);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.filter-container-items {
    height: 40px;
    width: 200px;
    border-radius: 5px;
}

.filter-container input {
    border: 1px solid var(--color-font-placeholder);   
    padding: 10px;
    font-size: 16px;
}

.filter-container input::placeholder {
    color: var(--color-font-placeholder);
    font-size: 16px;
}

.filter-container button { 
    background-color: var(--color-bg-primary);
    border: none;
    color: var(--color-font-primary);
    font-weight: 700;
    font-size: 16px;
}