:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    --color-bg-primary: #55Bc04;
    --color-bg-secondary: #fff;
    --color-bg-tertiary: #c2c2c2;

    --color-font-primary: #fff;
    --color-font-secondary: #6f6f6f;
    --color-font-tertiary: #55bc04;

    --color-font-placeholder: #c2c2c2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body { 
    background-color: var(--color-bg-tertiary);
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.mt20 {
    margin-top: 20px;
}

.pd20 {
    padding: 20px;
}